.content {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-top: 15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;

  &__title {
    text-align: center;
    font-size: 10rem;
    color: $white;
    z-index: 5;
  }

  &__subtitle {
    margin-top: 5rem;
    margin-bottom: 10rem;
    color: $white;
    z-index: 5;
    text-align: center;
    font-size: 2rem;
    width: 30%;
  }

  &__subscribe {
    z-index: 5;
    h5 {
      text-align: center;
      font-size: 2rem;
      color: $white;
    }
  }

  &__email-box {
  }
}
