.content {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  // margin-top: 15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;

  @include media-breakpoint-down(lg) {
    margin-top: 0;
  }

  &__title {
    text-align: center;
    font-size: 10rem;
    color: $white;
    z-index: 5;

    @include media-breakpoint-down(md) {
      font-size: 8rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 4rem;
    }
  }

  &__subtitle {
    margin-top: 5rem;
    margin-bottom: 10rem;
    color: $white;
    z-index: 5;
    text-align: center;
    font-size: 3rem;
    width: 70%;

    @include media-breakpoint-down(md) {
      margin: 2rem 0;
    }
  }

  &__subscribe {
    z-index: 5;
    width: 70%;
    h5 {
      text-align: center;
      font-size: 2.8rem;
      color: $white;
    }

    &--success {
      display: none;
    }
  }

  &__success,
  &__error {
    display: none;
    z-index: 5;
    color: $white;

    text-align: center;
  }

  &__email-box {
  }
}
