.nav {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 2rem 0;
  z-index: 5555;
  position: fixed;
  top: 0;

  &__item {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
  }
}
